[Unit]
Description=uWSGI for MetaMaPY REST API

[Service]
Environment=MAX_PROCESSES=5
Environment=CACHE_SIZE=100
Environment=LOGGING_LEVEL=DEBUG
Environment=METAMAP_PATH=/home/omni/public_mm/bin
Environment=PROJECT_PATH=/var/www/metamapy
Environment=METAMAP_DATA_SOURCES=NCI_CTEP-SDC,RAM,DDB,GO,HGNC,HPO,ICD10CM,OMIM
Environment=OMIM_KEY=<your_api_key_here>
Environment=OMIM_TIMEOUT=2
Environment=PUBMED_KEY=<pubmed_api_key_here>
ExecStart=/home/omni/.local/share/virtualenvs/metamapy-K46w_3iR/bin/uwsgi --master --emperor /var/www/metamapy/uwsgi.ini --die-on-term --uid omni --gid omni --logto /var/www/metamapy/log/emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target